hr
footer
  .container
    Copyright &copy; 2018, DynDNS
script(src="/js/core/jquery.min.js" type="text/javascript")
script(src="/js/core/popper.min.js" type="text/javascript")
script(src="/js/core/bootstrap-material-design.min.js" type="text/javascript")
script(src="/js/plugins/perfect-scrollbar.jquery.min.js" type="text/javascript")
script(src="/js/plugins/bootstrap-notify.js" type="text/javascript")
script(src="/js/material-dashboard.min.js" type="text/javascript")