doctype html
html
  head
    title DynDNS
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport")
    link(rel="stylesheet", href="/css/material-dashboard.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css", type="text/css")
  body
    .container
      .main-div
        form(method='post', action='/login')
          h2 Please Login
          if success_msg
            p #{success_msg}
          if error_msg
            p #{error_msg}
          if error
            p #{error}
          .form-group
              label Username
              input.form-control(type='text', name='username')
          .form-group
              label(for='inputPassword4') Password
              input#inputPassword4.form-control(type='password', name='password')
          .form-group
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox', value='')
                  | Remember
                  span.form-check-sign
                    span.check
          .form-row.md-auto
            .col
              a.btn.btn-success(href='/register') Register
            .col
              button.btn.btn-success(type='submit') Sign in
          .form-inline.justify-content-right
              a(href='/users/resetpasswd') Forget password?
            
        
